body { font-family: sans-serif; margin:0; padding:0; padding-top:60px; }
.titre {
position: fixed;   /* reste fixé à l’écran */
top: 0;            /* collé en haut */
left: 0;
width: 100%;       /* occupe toute la largeur */
margin: 0;
padding: 10px;
background: white; /* fond pour qu’il reste lisible */
text-align: center;
font-size: 1.5em;
z-index: 1000;     /* au-dessus des autres éléments */
border-bottom: 1px solid #ccc;
}
header { padding:1em; text-align:center; }
input { padding:0.5em; width:60%; max-width:300px; }
button { padding:0.5em; }
.gallery {
display:grid;
grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
gap:10px;
padding:10px;
}
.gallery img {
width:100%; height:100%; object-fit:cover;
cursor:pointer; transition:transform 0.3s;
}
.gallery img:hover { transform:scale(1.05); }
.modal {
position:fixed; inset:0; background:rgba(0,0,0,0.8);
display:none; justify-content:center; align-items:center;
}
.modal img { max-width:90%; max-height:90%; }